<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.css" />
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
    <div class="container-fluid" ng-app="">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        答案由此填入
                    </div>
                    <div class="card-body">
                        <h5>动画OPED</h5>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s1q01a">01</label><input type="text" name="s1q01a"
                                    id="s1q01a" class="form-control" ng-model="s1q01a"></div>
                            <div class="form-group col-sm-4"><label for="s1q02a">02</label><input type="text" name="s1q02a"
                                    id="s1q02a" class="form-control" ng-model="s1q02a"></div>
                            <div class="form-group col-sm-4"><label for="s1q03a">03</label><input type="text" name="s1q03a"
                                    id="s1q03a" class="form-control" ng-model="s1q03a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s1q04a">04</label><input type="text" name="s1q04a"
                                    id="s1q04a" class="form-control" ng-model="s1q04a"></div>
                            <div class="form-group col-sm-4"><label for="s1q05a">05</label><input type="text" name="s1q05a"
                                    id="s1q05a" class="form-control" ng-model="s1q05a"></div>
                            <div class="form-group col-sm-4"><label for="s1q06a">06</label><input type="text" name="s1q06a"
                                    id="s1q06a" class="form-control" ng-model="s1q06a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s1q07a">07</label><input type="text" name="s1q07a"
                                    id="s1q07a" class="form-control" ng-model="s1q07a"></div>
                            <div class="form-group col-sm-4"><label for="s1q08a">08</label><input type="text" name="s1q08a"
                                    id="s1q08a" class="form-control" ng-model="s1q08a"></div>
                            <div class="form-group col-sm-4"><label for="s1q09a">09</label><input type="text" name="s1q09a"
                                    id="s1q09a" class="form-control" ng-model="s1q09a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s1q10a">10</label><input type="text" name="s1q10a"
                                    id="s1q10a" class="form-control" ng-model="s1q10a"></div>
                            <div class="form-group col-sm-4"><label for="s1q11a">11</label><input type="text" name="s1q11a"
                                    id="s1q11a" class="form-control" ng-model="s1q11a"></div>
                            <div class="form-group col-sm-4"><label for="s1q12a">12</label><input type="text" name="s1q12a"
                                    id="s1q12a" class="form-control" ng-model="s1q12a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s1q13a">13</label><input type="text" name="s1q13a"
                                    id="s1q13a" class="form-control" ng-model="s1q13a"></div>
                            <div class="form-group col-sm-4"><label for="s1q14a">14</label><input type="text" name="s1q14a"
                                    id="s1q14a" class="form-control" ng-model="s1q14a"></div>
                            <div class="form-group col-sm-4"><label for="s1q15a">15</label><input type="text" name="s1q15a"
                                    id="s1q15a" class="form-control" ng-model="s1q15a"></div>
                        </div>
                        <br />
                        <h5>动画原声音乐</h5>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s2q01a">01</label><input type="text" name="s2q01a"
                                    id="s2q01a" class="form-control" ng-model="s2q01a"></div>
                            <div class="form-group col-sm-4"><label for="s2q02a">02</label><input type="text" name="s2q02a"
                                    id="s2q02a" class="form-control" ng-model="s2q02a"></div>
                            <div class="form-group col-sm-4"><label for="s2q03a">03</label><input type="text" name="s2q03a"
                                    id="s2q03a" class="form-control" ng-model="s2q03a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s2q04a">04</label><input type="text" name="s2q04a"
                                    id="s2q04a" class="form-control" ng-model="s2q04a"></div>
                            <div class="form-group col-sm-4"><label for="s2q05a">05</label><input type="text" name="s2q05a"
                                    id="s2q05a" class="form-control" ng-model="s2q05a"></div>
                            <div class="form-group col-sm-4"><label for="s2q06a">06</label><input type="text" name="s2q06a"
                                    id="s2q06a" class="form-control" ng-model="s2q06a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s2q07a">07</label><input type="text" name="s2q07a"
                                    id="s2q07a" class="form-control" ng-model="s2q07a"></div>
                            <div class="form-group col-sm-4"><label for="s2q08a">08</label><input type="text" name="s2q08a"
                                    id="s2q08a" class="form-control" ng-model="s2q08a"></div>
                            <div class="form-group col-sm-4"><label for="s2q09a">09</label><input type="text" name="s2q09a"
                                    id="s2q09a" class="form-control" ng-model="s2q09a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s2q10a">10</label><input type="text" name="s2q10a"
                                    id="s2q10a" class="form-control" ng-model="s2q10a"></div>
                            <div class="form-group col-sm-4"><label for="s2q11a">11</label><input type="text" name="s2q11a"
                                    id="s2q11a" class="form-control" ng-model="s2q11a"></div>
                            <div class="form-group col-sm-4"><label for="s2q12a">12</label><input type="text" name="s2q12a"
                                    id="s2q12a" class="form-control" ng-model="s2q12a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s2q13a">13</label><input type="text" name="s2q13a"
                                    id="s2q13a" class="form-control" ng-model="s2q13a"></div>
                            <div class="form-group col-sm-4"><label for="s2q14a">14</label><input type="text" name="s2q14a"
                                    id="s2q14a" class="form-control" ng-model="s2q14a"></div>
                            <div class="form-group col-sm-4"><label for="s2q15a">15</label><input type="text" name="s2q15a"
                                    id="s2q15a" class="form-control" ng-model="s2q15a"></div>
                        </div>
                        <br />
                        <h5>游戏原声音乐</h5>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s3q01a">01</label><input type="text" name="s3q01a"
                                    id="s3q01a" class="form-control" ng-model="s3q01a"></div>
                            <div class="form-group col-sm-4"><label for="s3q02a">02</label><input type="text" name="s3q02a"
                                    id="s3q02a" class="form-control" ng-model="s3q02a"></div>
                            <div class="form-group col-sm-4"><label for="s3q03a">03</label><input type="text" name="s3q03a"
                                    id="s3q03a" class="form-control" ng-model="s3q03a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s3q04a">04</label><input type="text" name="s3q04a"
                                    id="s3q04a" class="form-control" ng-model="s3q04a"></div>
                            <div class="form-group col-sm-4"><label for="s3q05a">05</label><input type="text" name="s3q05a"
                                    id="s3q05a" class="form-control" ng-model="s3q05a"></div>
                            <div class="form-group col-sm-4"><label for="s3q06a">06</label><input type="text" name="s3q06a"
                                    id="s3q06a" class="form-control" ng-model="s3q06a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s3q07a">07</label><input type="text" name="s3q07a"
                                    id="s3q07a" class="form-control" ng-model="s3q07a"></div>
                            <div class="form-group col-sm-4"><label for="s3q08a">08</label><input type="text" name="s3q08a"
                                    id="s3q08a" class="form-control" ng-model="s3q08a"></div>
                            <div class="form-group col-sm-4"><label for="s3q09a">09</label><input type="text" name="s3q09a"
                                    id="s3q09a" class="form-control" ng-model="s3q09a"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4"><label for="s3q10a">10</label><input type="text" name="s3q10a"
                                    id="s3q10a" class="form-control" ng-model="s3q10a"></div>
                        </div>
                        <br />
                        <h5>动漫音乐区相关&音乐知识问答</h5>
                        <div class="form-group"><label for="s4q01a">01. 动漫音乐区什么样的log文件被允许当作自抓证明？</label><input type="text" name="s4q01a" id="s4q01a" class="form-control" ng-model="s4q01a"></div>
                        <div class="form-group"><label for="s4q02a">02. 在本版的EAC教程中，请问“驱动器具备纠正C2错误报告能力”这项是否需要打开？</label><input type="text" name="s4q02a" id="s4q02a" class="form-control" ng-model="s4q02a"></div>
                        <div class="form-group"><label for="s4q03a">03. 哪种压缩文件百度网盘不能在线解压？</label><input type="text" name="s4q03a" id="s4q03a" class="form-control" ng-model="s4q03a"></div>
                        <div class="form-group"><label for="s4q04a">04. 在本版的帖子中蓝色（加粗）高亮标题的是属于什么类型的资源帖？</label><input type="text" name="s4q04a" id="s4q04a" class="form-control" ng-model="s4q04a"></div>
                        <div class="form-group"><label for="s4q05a">05. 合购临时区哪些用户可以进入？</label><input type="text" name="s4q05a" id="s4q05a" class="form-control" ng-model="s4q05a"></div>
                        <div class="form-group"><label for="s4q06a">06. 被版主关闭（锁定）的主题属于什么情况？</label><input type="text" name="s4q06a" id="s4q06a" class="form-control" ng-model="s4q06a"></div>
                        <br />
                        <button class="btn btn-primary" id="copy" data-clipboard-target="#answerbox"
                            data-clipboard-action="copy">复制答案到剪贴板</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        回复
                    </div>
                    <div class="card-body" id="answerbox">
                        <p>[font=微软雅黑][size=3]一、【动画OPED】[/size][/color][/font]
                            </br>
                            01 【{{s1q01a}}】 02 【{{s1q02a}}】 03 【{{s1q03a}}】 04 【{{s1q04a}}】 05 【{{s1q05a}}】
                            </br>
                            06 【{{s1q06a}}】 07 【{{s1q07a}}】 08 【{{s1q08a}}】 09 【{{s1q09a}}】 10 【{{s1q10a}}】
                            </br>
                            11 【{{s1q11a}}】 12 【{{s1q12a}}】 13 【{{s1q13a}}】 14 【{{s1q14a}}】 15 【{{s1q15a}}】
                            </br>
                            [font=微软雅黑][size=3]二、【动画原声音乐】[/size][/color][/font]
                            </br>
                            01 【{{s2q01a}}】 02 【{{s2q02a}}】 03 【{{s2q03a}}】 04 【{{s2q04a}}】 05 【{{s2q05a}}】
                            </br>
                            06 【{{s2q06a}}】 07 【{{s2q07a}}】 08 【{{s2q08a}}】 09 【{{s2q09a}}】 10 【{{s2q10a}}】
                            </br>
                            11 【{{s2q11a}}】 12 【{{s2q12a}}】 13 【{{s2q13a}}】 14 【{{s2q14a}}】 15 【{{s2q15a}}】
                            </br>
                            [font=微软雅黑][size=3]三、【游戏原声音乐】[/size][/color][/font]
                            </br>
                            01 【{{s3q01a}}】 02 【{{s3q02a}}】 03 【{{s3q03a}}】 04 【{{s3q04a}}】 05 【{{s3q05a}}】
                            </br>
                            06 【{{s3q06a}}】 07 【{{s3q07a}}】 08 【{{s3q08a}}】 09 【{{s3q09a}}】 10 【{{s3q10a}}】
                            </br>
                            [font=微软雅黑][size=3]四、【动漫音乐区相关&音乐知识问答】[/size][/color][/font]
                            </br>
                            1、动漫音乐区什么样的log文件被允许当作自抓证明？
                            </br>
                            答：{{s4q01a}}
                            </br>
                            2、在本版的EAC教程中，请问“驱动器具备纠正C2错误报告能力”这项是否需要打开？
                            </br>
                            答：{{s4q02a}}
                            </br>
                            3、哪种压缩文件百度网盘不能在线解压？
                            </br>
                            答：{{s4q03a}}
                            </br>
                            4、在本版的帖子中蓝色（加粗）高亮标题的是属于什么类型的资源帖？
                            </br>
                            答：{{s4q04a}}
                            </br>
                            5、合购临时区哪些用户可以进入？
                            </br>
                            答：{{s4q05a}}
                            </br>
                            6、被版主关闭（锁定）的主题属于什么情况？
                            </br>
                            答：{{s4q06a}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script>
        var clipboard = new ClipboardJS("#copy");
    </script>
</body>

</html>
