<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.css" />
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
    <div class="container-fluid" ng-app="">
        <div class="form-group row">
            <label for="q1" class="col-sm-2 col-form-label">01</label>
            <div class="col-sm-10" id="q1">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q1a1" name="q1a" ng-model="q1a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q1a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q1a2" name="q1a" ng-model="q1a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q1a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q1a3" name="q1a" ng-model="q1a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q1a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q1a4" name="q1a" ng-model="q1a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q1a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q2" class="col-sm-2 col-form-label">02</label>
            <div class="col-sm-10" id="q2">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q2a1" name="q2a" ng-model="q2a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q2a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q2a2" name="q2a" ng-model="q2a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q2a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q2a3" name="q2a" ng-model="q2a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q2a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q2a4" name="q2a" ng-model="q2a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q2a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q3" class="col-sm-2 col-form-label">03</label>
            <div class="col-sm-10" id="q3">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q3a1" name="q3a" ng-model="q3a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q3a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q3a2" name="q3a" ng-model="q3a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q3a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q3a3" name="q3a" ng-model="q3a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q3a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q3a4" name="q3a" ng-model="q3a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q3a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q4" class="col-sm-2 col-form-label">04</label>
            <div class="col-sm-10" id="q4">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q4a1" name="q4a" ng-model="q4a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q4a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q4a2" name="q4a" ng-model="q4a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q4a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q4a3" name="q4a" ng-model="q4a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q4a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q4a4" name="q4a" ng-model="q4a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q4a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q5" class="col-sm-2 col-form-label">05</label>
            <div class="col-sm-10" id="q5">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q5a1" name="q5a" ng-model="q5a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q5a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q5a2" name="q5a" ng-model="q5a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q5a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q5a3" name="q5a" ng-model="q5a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q5a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q5a4" name="q5a" ng-model="q5a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q5a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q6" class="col-sm-2 col-form-label">06</label>
            <div class="col-sm-10" id="q6">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q6a1" name="q6a" ng-model="q6a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q6a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q6a2" name="q6a" ng-model="q6a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q6a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q6a3" name="q6a" ng-model="q6a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q6a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q6a4" name="q6a" ng-model="q6a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q6a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q7" class="col-sm-2 col-form-label">07</label>
            <div class="col-sm-10" id="q7">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q7a1" name="q7a" ng-model="q7a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q7a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q7a2" name="q7a" ng-model="q7a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q7a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q7a3" name="q7a" ng-model="q7a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q7a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q7a4" name="q7a" ng-model="q7a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q7a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q8" class="col-sm-2 col-form-label">08</label>
            <div class="col-sm-10" id="q8">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q8a1" name="q8a" ng-model="q8a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q8a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q8a2" name="q8a" ng-model="q8a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q8a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q8a3" name="q8a" ng-model="q8a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q8a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q8a4" name="q8a" ng-model="q8a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q8a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q9" class="col-sm-2 col-form-label">09</label>
            <div class="col-sm-10" id="q9">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q9a1" name="q9a" ng-model="q9a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q9a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q9a2" name="q9a" ng-model="q9a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q9a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q9a3" name="q9a" ng-model="q9a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q9a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q9a4" name="q9a" ng-model="q9a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q9a4">D</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="q10" class="col-sm-2 col-form-label">10</label>
            <div class="col-sm-10" id="q10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q10a1" name="q10a" ng-model="q10a" class="custom-control-input" value="A">
                    <label class="custom-control-label" for="q10a1">A</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q10a2" name="q10a" ng-model="q10a" class="custom-control-input" value="B">
                    <label class="custom-control-label" for="q10a2">B</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q10a3" name="q10a" ng-model="q10a" class="custom-control-input" value="C">
                    <label class="custom-control-label" for="q10a3">C</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="q10a4" name="q10a" ng-model="q10a" class="custom-control-input" value="D">
                    <label class="custom-control-label" for="q10a4">D</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="copy" data-clipboard-target="#answerbox"
            data-clipboard-action="copy">复制答案到剪贴板</button>
        <br />
        <div class="card" id="answerbox">
            <div class="card-body">
                <p>2019 坛庆 MTV版趣味答题答题纸</p>
                <p>01. [{{q1a}}]</p>
                <p>02. [{{q2a}}]</p>
                <p>03. [{{q3a}}]</p>
                <p>04. [{{q4a}}]</p>
                <p>05. [{{q5a}}]</p>
                <p>06. [{{q6a}}]</p>
                <p>07. [{{q7a}}]</p>
                <p>08. [{{q8a}}]</p>
                <p>09. [{{q9a}}]</p>
                <p>10. [{{q10a}}]</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script>
        var clipboard = new ClipboardJS("#copy");
    </script>
</body>

</html>
